@import './ripple';

.btn {
  @include button-size(
    $btn-padding-y,
    $btn-padding-x,
    $btn-font-size,
    $border-radius
  );

  align-items: center;
  background-image: none;
  border: 0;
  box-shadow: $btn-box-shadow;
  color: $text-primary;
  cursor: pointer;
  display: inline-flex;
  font-weight: $btn-font-weight;
  justify-content: center;
  line-height: $btn-line-height;
  min-height: rem(36px);
  min-width: $spacer * 11;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: $btn-transition;
  vertical-align: middle;
  white-space: nowrap;

  &.disabled {
    box-shadow: none;
    cursor: default;
    opacity: $btn-disabled-opacity;
    pointer-events: none;
  }

  // button content
  > div:first-child {
    align-items: inherit;
    display: inherit;
    justify-content: inherit;
    width: 100%;
  }
}

// button size
.btn-lg {
  @include button-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $btn-font-size-lg,
    $border-radius-lg
  );
}

.btn-sm {
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size-sm,
    $border-radius-sm
  );
}

// contained button color
@each $name, $value in $theme-colors {
  .btn-contained-#{$name} {
    @if $name == 'warning' {
      @include button-style($value, $text-primary);
    } @else {
      @include button-style($value, $white);
    }
  }
}

// outlined button color
@each $name, $value in $theme-colors {
  .btn-outlined-#{$name} {
    @include button-style(
      none,
      $value,
      fade-out($value, 0.5),
      $hover-background: fade-out($value, $action-hover-fade-out)
    );

    border: $btn-border-width solid;
    height: rem(34px);
    padding-left: calc($btn-padding-x - 1px);
    padding-right: calc($btn-padding-x - 1px);
  }
}

// text button color
@each $name, $value in $theme-colors {
  .btn-text-#{$name} {
    @include button-style(
      none,
      $value,
      unset,
      $hover-background: fade-out($value, $action-hover-fade-out)
    );

    box-shadow: none;
  }
}

// circle button color
@each $name, $value in $theme-colors {
  .btn-circle-#{$name} {
    @include button-style($value, $white);

    border-radius: 50%;
    font-size: rem(24px);
    height: rem(56px);
    line-height: unset;
    min-width: 0;
    padding: 0;
    width: rem(56px);
  }
}

// link button color
@each $name, $value in $theme-colors {
  .btn-link-#{$name} {
    @include button-style(none, $value, unset, none);

    box-shadow: none;
  }
}
