@import './ripple';

// button size
$button-sizes: (
  small: (
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size-sm,
    $border-radius-sm,
  ),
  medium: (
    $btn-padding-y,
    $btn-padding-x,
    $btn-font-size,
    $border-radius,
  ),
  large: (
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $btn-font-size-lg,
    $border-radius-lg,
  ),
);

.btn {
  align-items: center;
  background-image: none;
  border: 0;
  color: $text-primary;
  cursor: pointer;
  display: inline-flex;
  font-weight: $btn-font-weight;
  justify-content: center;
  line-height: $btn-line-height;
  min-width: rem(64px);
  outline: none;
  overflow: hidden;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: $btn-transition;
  vertical-align: middle;
  white-space: nowrap;

  &:focus-visible {
    outline: none;
  }

  &-disabled {
    opacity: $btn-disabled-opacity;
    pointer-events: none;
  }

  // button content
  > div:first-child {
    align-items: inherit;
    display: inherit;
    justify-content: inherit;
    width: 100%;
  }

  // button size
  @each $name, $values in $button-sizes {
    &-#{$name} {
      @include button-size(
        nth($values, 1),
        nth($values, 2),
        nth($values, 3),
        nth($values, 4)
      );
    }
  }

  // button elevation
  &-elevation {
    box-shadow: m-shadow(2);

    &:hover {
      box-shadow: m-shadow(4);
    }

    &:focus-visible {
      box-shadow: m-shadow(6);
    }

    &:active {
      box-shadow: m-shadow(8);
    }
  }
}

// contained button
.btn-contained {
  // contained button color
  @each $name, $value in $theme-colors {
    &.btn-#{$name} {
      @if $name == 'warning' {
        @include button-style($value, $text-primary);
      } @else {
        @include button-style($value, $white);
      }
    }
  }
}

// outlined button
.btn-outlined {
  outline: $btn-outline-width solid;

  &:focus-visible {
    outline: $btn-outline-width solid;
  }

  // outlined button color
  @each $name, $value in $theme-colors {
    &.btn-#{$name} {
      @include button-style(
        none,
        $value,
        fade-out($value, 0.5),
        $hover-background: fade-out($value, $action-hover-fade-out)
      );
    }
  }
}

// text button
.btn-text {
  // text button color
  @each $name, $value in $theme-colors {
    &.btn-#{$name} {
      @include button-style(
        none,
        $value,
        none,
        $hover-background: fade-out($value, $action-hover-fade-out)
      );
    }
  }
}

// circle button
.btn-circle {
  border-radius: 50%;
  font-size: rem(24px);
  height: rem(56px);
  line-height: unset;
  min-width: 0;
  padding: 0;
  width: rem(56px);

  // circle button size
  &-small {
    font-size: rem(20px);
    height: rem(44px);
    width: rem(44px);
  }

  &-large {
    font-size: rem(28px);
    height: rem(68px);
    width: rem(68px);
  }

  // circle button color
  @each $name, $value in $theme-colors {
    &.btn-#{$name} {
      @include button-style($value, $white);
    }
  }
}

// link button
.btn-link {
  &:focus {
    text-decoration: underline;
  }

  // link button color
  @each $name, $value in $theme-colors {
    &.btn-#{$name} {
      @include button-style(none, $value, unset, none);
    }
  }
}
