.ripple_wrapper {
  bottom: 0;
  display: block;
  left: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.ripple {
  display: block;
  opacity: 0;
  position: absolute;

  &-visible {
    animation: ripple-visible $ripple-duration $ease-in-out;
    opacity: 0.6;
    transform: scale(1);
  }

  // when focus button, use the bubble style
  &-bubble {
    align-items: center;
    display: flex;
    justify-content: center;
    opacity: 1;
  }
}

// ripple visible animation
@keyframes ripple-visible {
  0% {
    opacity: 0.3;
    transform: scale(0);
  }

  100% {
    opacity: 0.6;
    transform: scale(1);
  }
}

// ripple item
.ripple_item {
  background-color: currentcolor;
  border-radius: 50%;
  display: block;
  height: 100%;
  opacity: 1;
  width: 100%;

  &-entering {
    animation: item-entering $ripple-duration $ease-in-out;
    opacity: 0.3;
  }

  &-bubble {
    animation: item-bubble 2500ms $ease-in-out 200ms infinite;
    height: 55%;
    opacity: 0.3;
    width: 55%;
  }
}

// ripple item entering animation
@keyframes item-entering {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.3;
  }
}

// ripple item bubble animation
@keyframes item-bubble {
  0% {
    opacity: 0.3;
    transform: scale(1);
  }

  50% {
    opacity: 0.35;
    transform: scale(0.92);
  }

  100% {
    opacity: 0.3;
    transform: scale(1);
  }
}
