{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-prettier",
    "stylelint-config-sass-guidelines"
  ],
  "plugins": ["stylelint-order"],
  "ignoreFiles": ["node_modules"],
  "overrides": [
    {
      "files": ["**/*.scss"],
      "customSyntax": "postcss-scss"
    }
  ],
  "rules": {
    "at-rule-no-unknown": null,
    "annotation-no-unknown": [
      true,
      {
        "ignoreAnnotations": ["default"]
      }
    ],
    "function-no-unknown": [
      true,
      {
        "ignoreFunctions": ["darken", "lighten", "map-get", "nth", "shadow"]
      }
    ],
    "selector-no-qualifying-type": [
      true,
      {
        "ignore": ["attribute", "class", "id"]
      }
    ],
    "alpha-value-notation": "number",
    "color-function-notation": "legacy",
    "max-nesting-depth": 3,
    "selector-class-pattern": "[a-z_-]+"
  }
}
