button {
  border-radius: 0.25rem;
  height: 2rem;
  line-height: 2rem;
  padding: 0 1rem;
  cursor: pointer;
}

.primary {
  border: 1px solid rgb(2, 2, 177);
  background-color: rgb(9, 9, 201);
  color: #fff;
}

.secondary {
  border: 1px solid #ccc;
  background-color: #ccc;
  color: #333;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}