// button
@mixin button-size($padding-y, $padding-x, $font-size, $border-radius) {
  border-radius: $border-radius;
  font-size: $font-size;
  padding: $padding-y $padding-x;
}

@mixin button-style(
  $background,
  $color,
  $outline-color: fade-out($color, 0.5),
  $hover-background: darken($background, $action-hover)
) {
  background: $background;
  color: $color;
  outline-color: $outline-color;

  &:hover {
    background: $hover-background;
    color: $color;
  }
}
