.btn {
  @include button-size(
    $btn-padding-y,
    $btn-padding-x,
    $btn-font-size,
    $border-radius
  );

  background-image: none;
  border: $btn-border-width solid transparent;
  box-shadow: $btn-box-shadow;
  color: $body-color;
  cursor: pointer;
  display: inline-block;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  position: relative;
  text-align: center;
  transition: $btn-transition;
  vertical-align: middle;
  white-space: nowrap;

  &.disabled {
    box-shadow: none;
    opacity: $btn-disabled-opacity;
    pointer-events: none;
  }
}

// button size
.btn-lg {
  @include button-size(
    $btn-padding-y-lg,
    $btn-padding-x-lg,
    $btn-font-size-lg,
    $border-radius-lg
  );
}

.btn-sm {
  @include button-size(
    $btn-padding-y-sm,
    $btn-padding-x-sm,
    $btn-font-size-sm,
    $border-radius-sm
  );
}

// button kind
.btn-default {
  @include button-style(
    $white,
    $gray-400,
    $body-color,
    $white,
    $primary,
    $primary
  );
}

.btn-primary {
  @include button-style($primary, $primary, $white);
}

.btn-text {
  @include button-style($white, $white, $body-color, $gray-200);

  box-shadow: none;
}

.btn-danger {
  @include button-style($danger, $danger, $white);

  box-shadow: none;
}

// link button
.btn-link {
  box-shadow: none;
  color: $btn-link-color;
  font-weight: $font-weight-normal;
  text-decoration: $link-decoration;

  &:hover {
    color: $btn-link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    box-shadow: none;
    text-decoration: $link-hover-decoration;
  }
}

.btn-danger-link {
  box-shadow: none;
  color: $btn-danger-link-color;
  font-weight: $font-weight-normal;
  text-decoration: $link-decoration;

  &:hover {
    color: $btn-danger-link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    box-shadow: none;
    text-decoration: $link-hover-decoration;
  }
}
